<html>
<head>
    <style>
        h1 {
            margin-top: 10px;
        }

        .links li {
            display: inline;
            margin-right: 30px;
        }

        .article {
            width: 66%;
            margin-left: 16%;
        }

        #la_comment_front_bundle_comments {
            width: 66%;
            margin-left: 16%;
        }

        textarea {
            width: 400px;
            height: 100px;
        }
    </style>

    <script>
        function newThread() {
            var
                    date = new Date(),
                    url = prompt("Entrez le nouveau thread", 'thread_'.concat(date.getTime()));

            if (url != null) {
                document.location = url;
            }
        }
    </script>

</head>
<body>
<div class="links">
    <ul>
        <li><a href="1">1. Enabled, Commentable, Non-vide</a></li>
        <li><a href="2">2. Enabled, Commentable, Vide</a></li>
        <li><a href="3">3. Enabled, Non-Commentable, Non-Vide</a></li>
        <li><a href="4">4. Enabled, Non-Commentable, Vide</a></li>
        <li><a href="5">5. Disabled</a></li>
        <li><a onclick="newThread()" href="#">0. Nouveau Thread</a></li>
    </ul>
</div>
<div class="article">
    {% block content %}
    {% endblock %}
</div>

{{ include('LaCommentFrontBundle:Comments:comments.html.twig', {
'thread_id': thread_id
}) }}

</body>
</html>