{% extends "LaCommentFrontBundle:DemoComments:content.html.twig" %}

{% block content %}

    {% set url="http://www.fillerati.com/json/getpara?b=lcnwndrlnd&c="~random(300) %}
    {% set book=url|book_cURL %}

    <h1>{{ book.chapter }}</h1>

    {{ book.body|raw }}

    {#<h1>Dick Rivers ne va pas mieux</h1>#}

    {#<p>Eius populus ab incunabulis primis ad usque pueritiae tempus extremum, quod annis circumcluditur fere trecentis,#}
        {#circummurana pertulit bella, deinde aetatem ingressus adultam post multiplices bellorum aerumnas Alpes#}
        {#transcendit et fretum, in iuvenem erectus et virum ex omni plaga quam orbis ambit inmensus, reportavit laureas#}
        {#et triumphos, iamque vergens in senium et nomine solo aliquotiens vincens ad tranquilliora vitae discessit.</p>#}

    {#<p>Tantum autem cuique tribuendum, primum quantum ipse efficere possis, deinde etiam quantum ille quem diligas atque#}
        {#adiuves, sustinere. Non enim neque tu possis, quamvis excellas, omnes tuos ad honores amplissimos perducere, ut#}
        {#Scipio P. Rupilium potuit consulem efficere, fratrem eius L. non potuit. Quod si etiam possis quidvis deferre ad#}
        {#alterum, videndum est tamen, quid ille possit sustinere.</p>#}

    {#<p>Ipsam vero urbem Byzantiorum fuisse refertissimam atque ornatissimam signis quis ignorat? Quae illi, exhausti#}
        {#sumptibus bellisque maximis, cum omnis Mithridaticos impetus totumque Pontum armatum affervescentem in Asiam#}
        {#atque erumpentem, ore repulsum et cervicibus interclusum suis sustinerent, tum, inquam, Byzantii et postea signa#}
        {#illa et reliqua urbis ornanemta sanctissime custodita tenuerunt.</p>#}

    {#<p>Accenderat super his incitatum propositum ad nocendum aliqua mulier vilis, quae ad palatium ut poposcerat#}
        {#intromissa insidias ei latenter obtendi prodiderat a militibus obscurissimis. quam Constantina exultans ut in#}
        {#tuto iam locata mariti salute muneratam vehiculoque inpositam per regiae ianuas emisit in publicum, ut his#}
        {#inlecebris alios quoque ad indicanda proliceret paria vel maiora.</p>#}

    {#<p>Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio#}
        {#imperasset. natus apud Tuscos in Massa Veternensi, patre Constantio Constantini fratre imperatoris, matreque#}
        {#Galla sorore Rufini et Cerealis, quos trabeae consulares nobilitarunt et praefecturae.</p>#}
{% endblock content %}
