{% extends "LaCommentFrontBundle:DemoComments:content.html.twig" %}

{% block content %}

    {% set url="http://www.fillerati.com/json/getpara?b=lcnwndrlnd&c="~random(300) %}
    {% set book=url|book_cURL %}

    <h1>{{ book.chapter }}</h1>

    {{ book.body|raw }}

    {#<h1>Qui sont-ils, quels sont leurs réseaux ? Nous menons l'enquête.</h1>#}

    {#<p>Les appellations pagure, bernard-l'ermite ou bernard-l'hermite (avec ou sans trait d'union) peuvent désigner#}
        {#plusieurs espèces de crustacés de la super-famille des Paguroidea, dont le bernard-l'ermite Pagurus#}
        {#bernhardus.</p>#}

    {#<p>Les pagures ressemblent aux homards, possèdent huit pattes et deux pinces. Ils sont connus pour se protéger de#}
        {#leurs prédateurs en logeant dans des coquilles vides de mollusques, et pour leur relations symbiotiques avec#}
        {#certaines anémones de mer (actinies). Les pagures changent régulièrement de coquilles en grandissant.</p>#}

    {#<p>Le pagure est un crustacé, il est donc invertébré. Contrairement à ses larves qui présentent une symétrie#}
        {#bilatérale parfaite, les appendices chez l'adulte sont très asymétriques : il possède dix pattes dont une#}
        {#première paire terminée par deux pinces inégales, les deuxième et troisième paires servent à la locomotion sur#}
        {#le fond marin ; il présente deux yeux composés pédonculés. Il ressemble à un crabe de cocotier mais son abdomen#}
        {#est allongé et mou, non protégé par une carapace.</p>#}

    {#<p>La reproduction a lieu dans l'eau, la femelle, ovipare, ne peut engager la reproduction qu'après avoir mué. Les#}
        {#larves subissent différentes mues et finalement une métamorphose. Il a la particularité de devoir utiliser des#}
        {#carapaces ou des coquilles vides pour protéger son abdomen des prédateurs. Lorsque sa croissance fait que sa#}
        {#carapace devient trop étroite, il en change pour une plus spacieuse. Il n'hésite pas parfois à déloger#}
        {#l'éventuel occupant de la coquille qu'il convoite.</p>#}

    {#<p>Pline en parle ainsi (Hist. nat., 9, 98) : "On appelle pinnotère le plus petit de toute cette classe, exposé par#}
        {#suite aux mauvais traitements. Il a l’habileté de se cacher dans des coquilles d’huîtres vides, et, lorsqu’il a#}
        {#grandi, de déménager pour en occuper de plus spacieuses." (trad. E. de Saint-Denis) (Pinotheras vocatur minimus#}
        {#ex omni genere, ideo opportunus iniuriæ. Huic solertia est inanium ostrearum testis se condere, et cum#}
        {#adcreuerit migrare in capaciores). Voir Aristote, Hist. An. 525 b, Oppien, Halieutica, 1, 320 ; Elien, 7, 31 ;#}
        {#Guillaume Rondelet, 1558, p. 398 (livre XVIII, chap. 12).</p>#}

{% endblock content %}