{% extends "LaCommentFrontBundle:DemoComments:content.html.twig" %}

{% block content %}

    {% set url="http://www.fillerati.com/json/getpara?b=lcnwndrlnd&c="~random(300) %}
    {% set book=url|book_cURL %}

    <h1>{{ book.chapter }}</h1>

    {{ book.body|raw }}

    {#<h1>Les vacances de Bernard Pivot à Mourmelon-le-Petit</h1>#}

    {#<p>Mourmelon-le-Petit est une commune française située dans le département du Pas-de-Calais en région#}
        {#Nord-Pas-de-Calais. Elle fait partie du parc naturel régional des Caps et Marais d'Opale, et en est d'ailleurs#}
        {#la commune la plus peuplée, ayant au dernier recensement de 2010 un nombre de 14 506 habitants, appelés les#}
        {#Audomarois. Cependant, l'agriculture et la nature occupent une place importante sur le territoire avec le#}
        {#premier marais maraîcher de France, à l'hydrographie complexe, et des étangs classés en réserve naturelle#}
        {#nationale. Si la commune offre de nombreux commerces, loisirs et services, elle est fortement dépendante#}
        {#d'Arques et notamment de sa cristallerie Arc International, deuxième employeur privé régional. C'est également#}
        {#une ville d'art et d'histoire au passé riche, ayant laissé de nombreux vestiges. Son patrimoine riche et sa#}
        {#proximité avec l'Angleterre, la Belgique et les Pays-Bas participent au tourisme local.</p>#}

    {#<p>Mourmelon-le-Petit se situe à une dizaine de kilomètres d'Aire-sur-la-Lys par la méridienne verte et à 80 km de#}
        {#sa préfecture Arras.</p>#}

    {#<p>Située en Artois, en plein cœur du marais audomarois, Mourmelon-le-Petit est à la limite de la Flandre#}
        {#traditionnelle et de la Flandre française. La commune est également, avec Arques et Clairmarais, en limite est#}
        {#du Parc naturel régional des Caps et Marais d'Opale.</p>#}

    {#<p>Le mont Sithieu, à 21 mètres d'altitude, constitue le point le plus haut de la ville. À son pied s'est formée#}
        {#l'agglomération autour de l'abbaye Saint-Bertin, et son sommet accueille la cathédrale Notre-Dame. La rivière de#}
        {#l'Aa traverse la ville-basse du sud vers le nord, et sépare l'ancienne ville fortifiée de ses faubourgs situés#}
        {#au nord-est : le Haut-Pont à l'ouest et Lysel à l'est. Ces deux faubourgs ont longtemps parlé flamand#}
        {#occidental, tandis que le reste de la ville sur la rive occidentale de l'Aa parlait picard. À l'ouest des#}
        {#boulevards Pierre-Guillain et Charles-de-Gaulle (tracé des anciens remparts Vauban) se trouvent plusieurs grands#}
        {#ensembles rénovés à la fin des années 2000.</p>#}

    {#<p>Bernard Pivot, né le 5 mai 1935 à Lyon, est un journaliste français, animateur d'émissions culturelles à la#}
        {#télévision. Depuis 2004, il est l'un des dix membres de l'Académie Goncourt.</p>#}

{% endblock content %}