{% extends "LaCommentFrontBundle:DemoComments:content.html.twig" %}

{% block content %}

    {% set url="http://www.fillerati.com/json/getpara?b=lcnwndrlnd&c="~random(300) %}
    {% set book=url|book_cURL %}

    <h1>{{ book.chapter }}</h1>

    {{ book.body|raw }}

{% endblock content %}