<div id="la_comment_front_bundle_sort">
    <a class="la_comment_front_bundle_sorter" href="#la_comment_front_bundle_display"
       id='la_comment_front_bundle_sorter_date_desc'>Les plus récents</a> -
    <a class="la_comment_front_bundle_sorter" href=#la_comment_front_bundle_display
       id='la_comment_front_bundle_sorter_date_asc'>Les plus anciens</a> -
    <a class="la_comment_front_bundle_sorter" href=#la_comment_front_bundle_display
       id='la_comment_front_bundle_sorter_score_desc'>Les mieux évalués</a> -
    <a class="la_comment_front_bundle_sorter" href=#la_comment_front_bundle_display
       id='la_comment_front_bundle_sorter_score_asc'>Les moins bien évalués</a>
</div>