{% macro comment_list(data, thread_data) %}
    {% import _self as lib %} {# reimport _self as lib #}

    {% if data.comment|is_visible %}

        {% set comment_id = "la_comment_front_bundle_comment_display_" ~ data.comment.getId() %}

        <li class='la_comment_front_bundle_comment_display' id="{{ comment_id }}">
            {{ render(controller('LaCommentFrontBundle:Front:renderComment', {
            'comment': data.comment,
            'thread': thread_data
            } )) }}
        </li>
        {% if data.children is defined %}
            {% if data.children is iterable %}
                <ul style="list-style-type: none;">
                    {% for children in data.children  %}
                        {{ lib.comment_list(children, thread_data) }}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}

    {% endif %}

{% endmacro %}