{#
    Thread commentable
    Thread enabled
    thread empty
#}

{% block comment_empty_thread %}
    <div id="la_comment_front_bundle_display">
        <p>Aucun commentaire pour l'instant : <strong>Soyez le premier à donner votre avis !</strong></p>
    </div>
{% endblock %}