<div style="display: inline;" id="la_comment_front_bundle_comment_vote_{{ comment.getId() }}">
{% set useful_votes = comment.getUpvotes() %}
{% set total_votes = comment.getUpvotes() + comment.getDownvotes() %}

{% if total_votes != 0 and useful_votes > 1 %}
    {{ useful_votes }} personnes sur {{ total_votes }} ont trouvé cet avis utile.
{% elseif total_votes != 0 %}
    {{ useful_votes }} personne sur {{ total_votes }} a trouvé cet avis utile.
{% else %}
    Personne n'a encore évalué cet avis.
{% endif %}

<a href="javascript:return(0)" class="la_comment_front_bundle_comment_vote comment_vote_1" >Cela m'a été utile</a>
<a href="javascript:return(0)" class="la_comment_front_bundle_comment_vote comment_vote_-1" >Aucun intérêt</a>
</div>