{% set reply_comment_id = "la_comment_front_bundle_comment_reply_display_" ~ comment.getId() %}

<a name="la_comment_front_bundle_comment_{{ comment.getId() }}"></a>
{# Username #}
<strong>
    {{ comment.commentUser.getUsername() }}
</strong>
{# Created #}
<em>
    ({{ comment.getCreatedAt()|date("\\L\\e d/m/Y \\à H\\hi") }})
</em>
{# Vote #} --
{{ render(controller('LaCommentFrontBundle:Front:renderVotes', {"comment": comment, "thread": thread})) }}

    {# Reply #}
    {% if thread.isCommentable() %}
        <div id='la_comment_front_bundle_comment_actions_{{ comment.getId() }}' style="display: inline;">
            -- <a id='{{ reply_comment_id }}' class='la_comment_front_bundle_comment_reply' href="javascript:void(0);"
                  style="text-decoration: none;"> Répondre</a>
        </div>
    {% endif %}

    {# Body #}
<blockquote style="background: #EEEEEE; padding:10px; margin:5px;">
    {{ comment.body }}
</blockquote>
