<div style="display: inline;" id="la_comment_front_bundle_comment_vote_{{ comment.getId() }}">
{% if comment.getScore() > 0 %}
    {% set scoreColor = 'green' %}
{% elseif comment.getScore() <0 %}
    {% set scoreColor = 'red' %}
{% else %}
    {% set scoreColor = 'black' %}
{% endif %}

Score : <span style="color: {{ scoreColor }}; font-weight: bold;" id = "la_comment_front_bundle_comment_score_{{ comment.getId() }}">{{ comment.getScore() }}</span> -
<a href="javascript:return(0)"class="la_comment_front_bundle_comment_vote comment_vote_1" style="text-decoration: none; font-size: x-large;">↑</a>
<a href="javascript:return(0)" class="la_comment_front_bundle_comment_vote comment_vote_-1" style="text-decoration: none; font-size: x-large;">↓</a>
</div>