<a name="la_comment_front_bundle_comment_{{ comment.getId() }}"></a>

{# Title #}
    {% if comment.title is defined and comment.title is not null %}
        <strong><u>{{ comment.title }}</u></strong> par
    {% endif %}
{# Username #}
<strong>
    {{ comment.commentUser.getUsername() }}
</strong>
{# Created #}
<em>
    ({{ comment.getCreatedAt()|date("\\L\\e d/m/Y \\à H\\hi") }})
</em>
{# Rating #}
    {{ render(controller('LaCommentFrontBundle:Front:renderRating', {"comment": comment }))|raw }}

    {# Vote #}    --
{{ render(controller('LaCommentFrontBundle:Front:renderVotes', {"comment": comment, "thread": thread})) }}

    {# Body #}
<blockquote style="background: #EEEEEE; padding:10px; margin:5px;">
    {{ comment.body }}
</blockquote>
