{% if thread.numComments < 1 %}
    Aucun avis enregistré.
{% else %}
    {{ thread.numComments }} avis (
    <em>Dernier {{ thread.lastCommentAt|date("\\l\\e d/m/Y \\à H\\hi") }}</em>).
{% endif %}

{% if thread.rating >0 %}
    Note moyenne : {% include 'LaCommentFrontBundle:Comments:abstract_reviews_review_rating.html.twig' with {'rating': thread.rating } %}
{% endif %}
