<div id="la_comment_front_bundle_stats" style="margin-bottom:10px;padding:5px; background: #d9edf7;">
    {{ render(controller('LaCommentFrontBundle:Front:stats',  {'threadId': thread_id }  )) }}
</div>