{% import 'LaCommentFrontBundle:Macro:comments_lib.html.twig' as lib %}

<div id="la_comment_front_bundle_display">
    <ul style="list-style-type: none;">
        {% if data is iterable and data.comments is defined and data.thread is defined %}
            {% set thread_data = data.thread %}
            {% for comment_data in data.comments %}
                {{ lib.comment_list(comment_data, thread_data) }}
            {% endfor %}
        {% endif %}
    </ul>
</div>