{% set default_sorter = "date_desc" %}
{% set current_url = app.request.getUri() %}
{% if type is not defined %}
    {% set type = null %}{% endif %}
{% set data = fetch_comments(thread_id, current_url, default_sorter, type, {'offset': null, 'limit': null}) %}
{% set hidden =  data.thread.isEnabled() and not data.thread.isCommentable() and data.thread.getNumComments() == 0 %}

{% if data.thread.isEnabled() and hidden  == false %}
    <div id="la_comment_front_bundle_comments">

        <h2>Commentaires</h2>

        {% include 'LaCommentFrontBundle:Comments:abstract_stats.html.twig' %}

        {{ render(controller('LaCommentFrontBundle:Front:form', {'threadId': thread_id } )) }}

        {{ render(controller('LaCommentFrontBundle:Front:sorter', {'data': data } )) }}

        {{ render(controller('LaCommentFrontBundle:Front:display', {'data': data } )) }}

    </div>

    <script src="{{ asset('/bundles/lacommentfront/js/comment.js') }}" type="text/javascript"></script>
    <script type="text/javascript">

        (function ($$) {
            "use strict";
            /*global la_comment_front_bundle */

            $$.login_redirect = function (returnUrl) {
                return '{{ login_url }}'.concat('?redirect_url=', encodeURIComponent(returnUrl));
            };

            $$.thread_ajax_url = function () {

                var url;
                url = '{{ url("la_comment_ajax_thread_default", {'threadId': thread_id }) }}';
                return url;
            };

            $$.render_stats_url = function () {
                var url;
                url = '{{ url("la_comment_render_stats", {'threadId': thread_id }) }}';
                return url;
            };

            $$.render_form_url = function (parentId) {
                var url;

                url = '{{ url("la_comment_render_form", {'threadId': thread_id }) }}';
                if (null !== parentId) {
                    url = url.concat('/', parentId);
                }
                return url;
            };

            $$.onSuccess = function () {
                this.renderStats();
            };

            $$.onPendingSend = function () {
                alert('{{ 'la_front_comment.messages.pending'|trans }}');
            };

            $$.token_identifier = '_token';

        }(la_comment_front_bundle));

    </script>

    <script type="text/javascript">
        //<![CDATA[
        la_comment_front_bundle.init('{{ thread_id }}');
        //]]>
    </script>
{% endif %}