<div id="la_comment_front_bundle_form">

    <a name="la_comment_{{ thread_id }}"></a>
    {{ form_start(form) }}
    {% if form.title is defined %}
        {{ form_row(form.title) }}
    {% endif %}
    {% if form.rating is defined and not parent_id %}
        {{ form_row(form.rating) }}
    {% endif %}
    {{ form_row(form.comment) }}
    {% if parent_id %}
    <span id="la_front_bundle_error_message_{{ parent_id }}">
{% else %}
        <span id="la_front_bundle_error_message">
{% endif %}
            {{ form_errors(form) }}
</span>
        {{ form_row(form.send) }}
        {{ form_rest(form) }}
</div>