{% set default_sorter = "date_desc" %}
{% set current_url = app.request.getUri() %}
{% if type is not defined %}
    {% set type = null %}
{% endif %}
{% set data = fetch_comments(thread_id, current_url, default_sorter, type) %}
{% set hidden =  data.thread.isEnabled() and not data.thread.isCommentable() and data.thread.getNumComments() == 0 %}

{% if data.thread.isEnabled() and hidden  == false %}
    <div id="la_comment_front_bundle_comments">

        <h2>Commentaires</h2>

        {{ render(controller('LaCommentFrontBundle:Front:form', {'data': data })) }}

        {{ render(controller('LaCommentFrontBundle:Front:sorter', {'data': data })) }}

        {{ render(controller('LaCommentFrontBundle:Front:display', {'data': data } )) }}

    </div>

    <script type="text/javascript" src="/bundles/lacommentfront/js/comment.js"></script>
    {#<script type="text/javascript" src="/bundles/YOURBUNDLE/js/comment.js"></script>#}

    <script type="text/javascript">
        //<![CDATA[
        la_comment_front_bundle.init('{{ thread_id }}');
        //]]>
    </script>
{% endif %}